<div class="container">
  <div class="title">
    <span class="title__text">Выберите доступный автомобиль</span>
  </div>
  <div class="main-icon">
    <img src="assets/Icons/login/car.png" />
  </div>
  <div class="car-list">
    <div
      class="car-list__item"
      [class.car-list__item_active]="
        (userInfo.car$ | async)?.regNum === car.regNum
      "
      *ngFor="let car of userInfo.carList$ | async; let i = index"
      (click)="chooseCar(i)"
    >
      {{ car.regNum }}
    </div>
  </div>

  <div class="btn-container">
    <div class="btn">
      <app-button
        (click)="accept()"
        [isActive]="!!(userInfo.car$ | async)"
        [disabled]="!(userInfo.car$ | async)"
      >
        Далее
      </app-button>
    </div>
    <div class="btn">
      <app-button (click)="dismiss()" [isActive]="false">Отменить</app-button>
    </div>
  </div>
</div>
