<div class="container">
  <div class="title">
    <span class="title__text">Выберите доступный автомобиль</span>
  </div>
  <div class="main-icon">
    <img src="assets/Icons/login/car.png">
  </div>
  <div class="car-list">
    <div
      class="car-list__item"
      [class.car-list__item_active]="(userInfo.carNumber$ | async) === car"
      *ngFor="let car of (carList$ | async); let i = index"
      (click)="chooseCar(i)"
    >
      {{car}}
    </div>
  </div>

  <div class="btn-container">
    <button
      (click)="accept()"
      class="btn btn-next"
      [disabled]="!(userInfo.carNumber$ | async)"
    >Далее</button>

    <button
      (click)="dismiss()"
      class="btn btn-cancel"
    >Отменить</button>
  </div>
</div>
