@import "src/theme/functions.scss";
* {
  box-sizing: border-box;
}

button {
  outline: none;
  background: transparent;
  border: none;
}

.container {
  height: 100%;
  width: 100%;
  padding: sizeHeight(80) sizeWidth(45) sizeHeight(55) sizeWidth(45);

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--bg-body-color);

  .title {
    &__text{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      font-size: sizeHeight(48);
      color: var(--text-contrast-color);
    }
  }

  .main-icon {
    img {
      margin: sizeHeight(60) 0;
      height: sizeHeight(160);
    }
  }

  .car-list {
    width: sizeWidth(632);

    display: flex;
    flex-wrap: wrap;
    column-gap: sizeWidth(8);
    -webkit-column-gap: sizeWidth(8);
    -moz-column-gap: sizeWidth(8);
    -o-column-gap: sizeWidth(8);

    &__item {
      height: sizeHeight(112);
      width: sizeWidth(312);
      margin-bottom: sizeWidth(8);

      display: flex;
      align-items: center;
      justify-content: center;

      background: var(--bg-header-color);
      border-radius: sizeHeight(8);
      box-shadow: 0px sizeHeight(4) sizeHeight(4) var(--gradient-main-color-1);

      font-size: sizeHeight(36);
      color: var(--text-contrast-color);

      &_active {
        background: var(--border-blue-color);
        color:var(--text-alwaysWhite-color);
      }
    }
  }

  .btn-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;

    .btn {
      height: sizeHeight(110);
      width: sizeWidth(632);

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: sizeHeight(8);

      font-size: sizeHeight(36);

      color: var(--text-contrast-color);

      &-next {
        color: var(--text-alwaysWhite-color);
        background: var(--border-blue-color);

        &:disabled {
          background: var(--bg-header-color);
          color: var(--text-subscript-color);
          box-shadow: 0 sizeHeight(4) sizeHeight(4) var(--gradient-main-color-1);
          opacity: 1;
        }
      }

      &-cancel {
        color: var(--text-contrast-color);
        opacity: 0.5;
        background: none;
      }
    }
  }
}

