<div class="container">
  <span class="reason">Причина обращения в тех. поддержку:</span>

  <div class="dropdown">
    <app-dropdown
      [data]="dropdownList"
      (onChanged)="changeDropdownValue($event)"
    ></app-dropdown>
  </div>

  <textarea
    *ngIf="currentValueId === textValueId"
    placeholder="Напишите причину"
    [(ngModel)]="message"
  ></textarea>

  <div class="btns">
    <app-button class="btn" (click)="sendSupport()" [disabled]="isDisableSend" [isActive]="false">Отправить обращение</app-button>
    <app-button class="btn" [isActive]="false">Позвонить оператору</app-button>
  </div>
</div>
