@import "src/theme/functions.scss";

* {
  box-sizing: border-box
}

.container {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-left: sizeWidth(25);
  padding-right: sizeWidth(25);
}

.content {
  padding-right: sizeWidth(35);
  padding-left: sizeWidth(35);
  padding-top: sizeHeight(25);
}

.btn {
  height: sizeHeight(110);
  margin-right: sizeWidth(30);
  font-size: sizeHeight(39);
  color: #D7E2F2;
  outline: none;
  width: 100%;
  background: #0089FF;
  border-radius: sizeHeight(8);

  &:disabled {
    background: #303549;
  }
}

.back-button {
  margin-left: sizeWidth(20);
}

.task-number-span {
  margin-left: sizeWidth(20);
  color: #D7E2F2;
}

.footer {
  padding-bottom: sizeHeight(60);
  padding-left: sizeHeight(30);
  padding-right: sizeHeight(30);
}

.btn-margin-bottom {
  margin-bottom: sizeHeight(20);
}

.nfc-icon-block {
  padding-bottom: sizeHeight(50);
}

.content-text-block {
  margin-top: sizeHeight(20);
  font-size: sizeHeight(36);
  word-wrap: break-word;
}

.gray-text {
  color: #606580;
}

.light-text {
  color: #D7E2F2;
}

.task\=info-block {
  padding-top: sizeHeight(20);
}




