<div class="container">
  <app-header>
    <div class="arrow" (click)="back()">
      <svg-icon
        src="/assets/Icons/tabs/arrowLeft.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
    <div class="title">{{(tabsService.currentTask$ | async)?.number | splitNumberSign}}</div>
  </app-header>

  <div class="content">
    <app-step-progress-bar [stepsCount]="3" [activeStepIndex]="1"></app-step-progress-bar>

    <div class="task=info-block">
      <div class="content-text-block">
        <span class="gray-text">Установка: <span class="light-text">{{(tabsService.currentTask$ | async)?.plantName}}</span></span>
      </div>
      <div class="content-text-block">
        <span class="gray-text">
          Отсканируйте NFC метку для подтверждения выгрузки
          <span class="light-text">пустой тары ({{(tabsService.currentTask$ | async)?.tares.length}} шт)</span>
          <span class="gray-text"> и загрузки </span>
          <span class="light-text">проб ({{(tabsService.currentTask$ | async)?.probes.length}})</span>
        </span>
      </div>

      <div class="nfc-icon-block">
        <svg-icon
          src="assets/Icons/nfc/nfc_icon.svg"
          [svgStyle]="{
              'width': '34vh',
              'height': '34vh'
            }"
        ></svg-icon>
      </div>
    </div>

    <app-button class="btn btn_activateNFC" (click)="enableNfc()">Включить NFC</app-button>
    <app-button class="btn" [disabled]="true" [isActive]="false">Завершить задание</app-button>
  </div>
</div>

