<div class="dropdown">
  <input
    (click)="toggleDropdown()"
    (focusout)="closeDropdown()"
    readonly
    type="text"
    class="dropdown__current"
  />
  <div class="dropdown__current dropdown__current_event">
    <ng-container>
      {{ data[currentItemIdx] }}
    </ng-container>
  </div>
  <div class="dropdown__menu">
    <ng-container>
      <div
        *ngFor="let item of data; let i = index"
        class="dropdown__menu-item"
        (click)="chooseItem(i)"
        [@expandedPanel]="dropdownExpand ? 'expanded' : 'initial'"
      >
        {{ item }}
      </div>
    </ng-container>
  </div>
</div>
