@import "src/theme/functions";
* {
  box-sizing: border-box;
}
.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .chart-container {
    height: 58vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .chart {
      height: 40vh;
      width: 40vh;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      svg-icon {
        position: absolute;
      }

      .chart-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;

        .chart__title, .chart__unit {
          font-weight: 500;
          font-size: sizeHeight(30);
          text-align: center;
          color: #D7E2F2;
        }

        .chart__unit {
          color: #8C99B2;
        }

        .chart__total {
          font-weight: 500;
          font-size: sizeHeight(124);
          color: #FFFFFF;
        }
      }
    }
  }

  .description {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &-item {
      height: sizeHeight(170);
      width: 30%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: sizeHeight(10);

      background: #272A38;
      border-left: sizeWidth(8) solid #FFFFFF;
      border-radius: sizeWidth(8);

      .title {
        font-size: sizeHeight(28);
        color: #8C99B2;
      }

      .value {
        font-size: sizeHeight(64);
        color: #FFFFFF;
      }
    }
  }
}
