@import "src/theme/functions";
* {
  box-sizing: border-box;
}


.header__title {
  margin-left: sizeWidth(40);
  font-weight: 500;
  font-size: sizeHeight(36);

  color: var(--text-contrast-color);
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .chart-container {
    height: 58vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .chart {
      height: 40vh;
      width: 40vh;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      svg-icon {
        position: absolute;
        color: var(--chart-segment-color)
      }

      .chart-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;

        .chart__title, .chart__unit {
          font-weight: 500;
          font-size: sizeHeight(27);
          text-align: center;
          color: var(--text-contrast-color);
        }

        .chart__unit {
          color: var(--text-main-color);
        }

        .chart__total {
          font-weight: 500;
          font-size: sizeHeight(124);
          color: var(--text-accent-color);
        }
      }
    }
  }

  .description {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &-item {
      height: sizeHeight(170);
      width: 30%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: sizeHeight(10);

      background: var(--bg-header-color);
      border-left: sizeWidth(8) solid var(--index-fact-color);
      border-radius: sizeHeight(8);

      filter: drop-shadow(0px 0px sizeHeight(20) var(--gradient-main-color-1));

      .title {
        font-size: sizeHeight(28);
        color: var(--text-main-color);
      }

      .value {
        font-size: sizeHeight(64);
        color: var(--text-accent-color);
      }
    }
  }
}
