@import "src/theme/functions";
* {
  box-sizing: border-box;
}

button {
  outline: none;
  background: transparent;
  border: none;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  background: var(--bg-body-color);

  .header {
    width: 100%;

    .title {
      margin-left: sizeWidth(20);
      font-size: sizeHeight(42);
      color: var(--text-contrast-color);
    }

    .arrow {
      height: 3.9vh;
      width: 3.9vh;
      margin-left: sizeWidth(30);

      color: var(--border-icon-color);
    }
  }

  .tabs-container {
    height: 7vh;
    min-height: 7vh;
    width: 100%;
    margin-top: sizeHeight(30);

    display: flex;

    .tab {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      border-bottom: sizeHeight(6) solid var(--bg-buttons-color);

      color: #8C99B2;
      text-align: center;
      font-size: sizeHeight(24);
      text-transform: uppercase;

      &_active {
        color: var(--border-blue-color);
        border-color: var(--border-blue-color);
      }
    }
  }

  .content {
    flex: 1;
    padding: sizeHeight(16) sizeWidth(44) sizeHeight(44) sizeWidth(38);

    display: flex;
    flex-direction: column;
    align-items: center;

    .user {
      width: 100%;
      margin: sizeHeight(40) 0;

      font-size: sizeHeight(40);
      color: var(--text-main-color);

      overflow: hidden;
    }

    .status, .car {
      height: sizeHeight(92);
      width: 100%;

      display: flex;
      align-items: center;

      svg-icon {
        color: var(--index-fact-color);
      }

      .name {
        margin-left: sizeWidth(40);
        font-size: sizeHeight(34);
        color: var(--text-contrast-color);
      }
    }

    .car {
      margin-top: sizeHeight(20);
      .number {
        margin-left: auto;
        font-size: sizeHeight(34);

        color: var(--text-main-color);
      }
    }

    .status {
      .dropdown {
        height: sizeHeight(92);
        width: sizeWidth(315);
        margin-left: auto;

        display: flex;
        align-items: center;

        border: sizeHeight(1) solid var(--border-forms-color);
        border-radius: sizeHeight(8);

        position: relative;

        .name {
          color: var(--text-subscript-color);
        }

        &__current {
          flex: 1;
          display: flex;
          align-items: center;

          font-size: sizeHeight(34);
          color: var(--text-contrast-color);

          span {
            margin-left: sizeWidth(16);
          }
        }

        svg-icon {
          margin-left: auto;
          margin-right: sizeWidth(15);

          color: var(--text-subscript-color);
        }

        .indicator {
          height: sizeHeight(40);
          width: sizeHeight(40);
          margin-left: sizeWidth(11);;

          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 50%;

          &__inner {
            height: sizeHeight(20);
            width: sizeHeight(20);

            border-radius: 50%;
          }
        }

        .dropdown-list {
          height: 0;
          width: sizeWidth(315);

          background: var(--bg-header-color);
          border: sizeHeight(1) solid var(--border-forms-color);

          position: absolute;
          top: sizeHeight(92);
          left: - sizeHeight(1);

          overflow: hidden;
          opacity: 0;
          .dropdown__item {
            height: sizeHeight(92);
            width: 100%;

            display: flex;
            align-items: center;

            font-size: sizeHeight(34);
            color: var(--text-contrast-color);

            .status-name {
              margin-left: sizeWidth(35);
            }

            &:hover {
              background: var(--bg-body-color);
            }
          }
        }
      }

      &_active {
        .dropdown {

          border-radius: sizeHeight(8) sizeHeight(8) 0 0;

          svg-icon {
            transform: rotate(180deg);
          }

          .dropdown-list {
            height: auto;
            opacity: 1;

            transition: all 0.5s ease;
          }
        }
      }
    }

    .btn {
      height: sizeHeight(110);
      width: sizeWidth(632);

      margin-top: sizeHeight(20);

      display: flex;
      align-items: center;
      justify-content: center;

      background: var(--bg-buttons-color);
      border-radius: sizeHeight(8);

      font-size: sizeHeight(36);
      color: var(--text-contrast-color);

      &__change-car {
        margin-top: auto;
      }
    }
  }
}
