<div class="container">
  <app-header
    class = header
    [withThemeSwitch]="true"
  >
    <div class="arrow" (click)="dismiss()">
      <svg-icon
        src="/assets/Icons/tabs/arrowLeft.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
    <div class="title">Назад</div>
  </app-header>
  <div class="tabs-container">
    <div *ngFor="let tab of tabs; let i = index"
         class="tab"
         [class.tab_active]="i === (userInfo.currentTab$ | async)"
         (click)="selectTab(i)"
    >
      <span>{{tab}}</span>
    </div>
  </div>
  <div class="content">
    <span class="user">
      {{userInfo.currentUser.lastName + ' ' + userInfo.currentUser.firstName + ' ' + userInfo.currentUser.patronymic}}
    </span>
    <div class="status" [class.status_active]="isOpened" (click)="openDropdown()">
      <svg-icon
        [svgStyle]="{
        'height': '3.9vh',
        'width': '3.9vh'
      }"
        src="assets/Icons/avatar-modal/avatar.svg"
      ></svg-icon>
      <span class="name">Статус</span>
      <div class="dropdown">
        <div class="dropdown__current" *ngIf="(userInfo.statusIndex$ | async) !== -1">
          <div
            class="indicator"
            [style.background]="(userInfo.statusList$ | async)[(userInfo.statusIndex$ | async)].bgColor"
          >
            <div
              class="indicator__inner"
              [style.background]="(userInfo.statusList$ | async)[(userInfo.statusIndex$ | async)].color"
            ></div>
          </div>
          <span>{{(userInfo.statusList$ | async)[(userInfo.statusIndex$ | async)].name}}</span>
        </div>
        <span class="name" *ngIf="(userInfo.statusIndex$ | async) === -1">Статус</span>
        <svg-icon
          [svgStyle]="{
            'height': '3.9vh',
            'width': '3.9vh'
           }"
          src="assets/Icons/avatar-modal/arrow-down.svg"
        ></svg-icon>

        <div class="dropdown-list">
          <div class="dropdown__item" (click)="chooseStatus(i)" *ngFor="let item of (userInfo.statusList$ | async); let i = index">
            <div
              class="indicator"
              [style.background]="item.bgColor"
            >
              <div
                class="indicator__inner"
                [style.background]="item.color"
              ></div>
            </div>
            <span class="status-name">{{item.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="car">
      <svg-icon
        [svgStyle]="{
        'height': '3.9vh',
        'width': '3.9vh'
      }"
        src="assets/Icons/avatar-modal/truck.svg"
      ></svg-icon>
      <span class="name">Автомобиль</span>
      <span class="number">{{userInfo.carNumber$ | async}}</span>
    </div>

    <button class="btn btn__change-car" (click)="changeCar()">Сменить автомобиль</button>
    <button class="btn btn__change-user" (click)="changeUser()">Сменить пользователя</button>
  </div>
</div>
