<div class="container">
  <div
    class="cancel"
    (click)="dismiss()"
  >
    <svg-icon
      src="assets/Icons/tabs/cancel.svg"
      [svgStyle]="{
        'width.vh': 2.2,
        'height.vh': 2.2
      }"
    ></svg-icon>
  </div>
  <span class="title">Принять задания</span>
  <div class="content">
    <div class="item" *ngFor="let item of (taskList$ | async)">
      <div class="checkbox">
        <ion-checkbox [(ngModel)]="item.checked" color="primary"></ion-checkbox>
      </div>
      <div class="item__name">{{item.plantName}}</div>
    </div>
  </div>
  <div
    class="btn"
    (click)="accept()"
  >Принимаю</div>
</div>
