<div class="container">
  <div class="cancel" (click)="dismiss()">
    <svg-icon
      src="assets/Icons/tabs/cancel.svg"
      [svgStyle]="{
        'width.vh': 2.2,
        'height.vh': 2.2
      }"
    ></svg-icon>
  </div>
  <div class="content">
    <div class="info">Выберете статус для начала смены</div>
    <div class="main-content">
      <span class="description">Статус</span>
      <div class="dropdown-container">
        <app-status-dropdown
          [options]="userInfo.statusList$ | async | statusFilter: 1"
          [currentOptionId]="currentStatusId"
          (onChanged)="changeStatus($event)"
        ></app-status-dropdown>
      </div>
    </div>
  </div>
  <div class="btn" (click)="dismiss()">Подтверждаю</div>
</div>
