<div class="container">
  <div class="header-block">
    <span class="header">Подтвердите выполнение</span>
  </div>
  <div class="info-block">
    <span class="info-block-header">Выгружены пустые тары (4)</span>
    <div class="info-block-item">
      <ion-checkbox checked></ion-checkbox>
      <span class="light-text">АИ-95</span>
      <span class="gray-text">2 шт</span>
    </div>
    <div class="info-block-item">
      <ion-checkbox checked></ion-checkbox>
      <span class="light-text">АИ-95</span>
      <span class="gray-text">2 шт</span>
    </div>
    <div class="info-block-item">
      <ion-checkbox checked></ion-checkbox>
      <span class="light-text">АИ-95</span>
      <span class="gray-text">2 шт</span>
    </div>
  </div>
  <div class="info-block">
    <span class="info-block-header">Загружены пробы (6)</span>
  </div>
  <div class="info-block-item">
    <ion-checkbox checked></ion-checkbox>
    <span class="light-text">АИ-95</span>
    <span class="gray-text">2 шт</span>
  </div>
  <div class="info-block-item">
    <ion-checkbox checked></ion-checkbox>
    <span class="light-text">АИ-95</span>
    <span class="gray-text">2 шт</span>
  </div>

</div>
<button class="accept-button">Подтверждаю</button>
