<div class="container">
  <div class="content">
    <div class="header-block">
      <span class="header">Подтвердите выполнение</span>
    </div>
    <div class="info-block">
      <span class="info-block-header">Выгружены пустые тары (0)</span>
<!--      <div class="info-block-item">-->
<!--        <ion-checkbox checked></ion-checkbox>-->
<!--        <span class="light-text">АИ-95</span>-->
<!--        <span class="gray-text">2 шт</span>-->
<!--      </div>-->
<!--      <div class="info-block-item">-->
<!--        <ion-checkbox checked></ion-checkbox>-->
<!--        <span class="light-text">АИ-95</span>-->
<!--        <span class="gray-text">2 шт</span>-->
<!--      </div>-->
<!--      <div class="info-block-item">-->
<!--        <ion-checkbox checked></ion-checkbox>-->
<!--        <span class="light-text">АИ-95</span>-->
<!--        <span class="gray-text">2 шт</span>-->
<!--      </div>-->
    </div>
    <div class="info-block">
      <span class="info-block-header">Загружены пробы ({{(tabsService.currentTask$ | async).test}})</span>
      <div
        class="info-block-item"
        *ngFor="let test of (tabsService.currentTask$ | async)?.testList"
      >
        <ion-checkbox checked></ion-checkbox>
        <span class="light-text">{{test.name}}</span>
        <span class="gray-text">{{test.val}} шт</span>
      </div>
    </div>
  </div>
  <button (click)="presentNfcTimerModal()" class="accept-button">Подтверждаю</button>
  <div (click)="close()" class="close-button">
    <svg-icon [svgStyle]="{
         'width': '2.2vh',
         'height': '2.2vh'
       }" class="close-button__icon" src="assets/Icons/shared/close_icon.svg"
    >
    </svg-icon>
  </div>
</div>

