@import "src/theme/functions.scss";

* {
  box-sizing: border-box;
}

button {
  outline: none;
  background: transparent;
  border: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  background: var(--bg-modal-color);

  .header {
    height: sizeHeight(125);
    min-height: sizeHeight(125);
    padding: sizeHeight(10) sizeWidth(30);

    display: flex;
    align-items: center;

    .info {
      color: var(--text-contrast-color);
      font-size: sizeHeight(34);
    }
  }

  .content {
    padding: sizeHeight(10) sizeWidth(30);
    flex: 1;

    border-top: sizeHeight(1) solid var(--border-forms-color);
    border-bottom: sizeHeight(1) solid var(--border-forms-color);

    overflow-y: auto;

    .info-block {
      margin-top: sizeHeight(8);

      .info-block-header {
        color: var(--text-main-color);
        font-size: sizeHeight(34);
      }

      .info-block-item {
        margin-top: sizeHeight(16);
        margin-bottom: sizeHeight(16);
        display: flex;
        align-items: center;

        ion-checkbox {
          --checkmark-color: var(--text-alwaysWhite-color);
          --background-checked: var(--border-blue-color);
          height: sizeWidth(40);
          width: sizeWidth(40);
          min-width: sizeWidth(40);
          margin-right: sizeWidth(24);
        }

        .gray-text {
          color: var(--text-main-color);
          font-size: sizeHeight(29);
          white-space: nowrap;
        }

        .light-text {
          color: var(--text-contrast-color);
          font-size: sizeHeight(29);
          display: inline-block;
          margin-right: sizeWidth(12);
        }
      }
    }
  }

  .buttons {
    height: sizeHeight(125);
    min-height: sizeHeight(125);
    padding: sizeHeight(10) sizeWidth(30);

    display: flex;
    align-items: center;

    .btn {
      font-size: sizeHeight(34);
      color: var(--text-subscript-color);

      text-transform: uppercase;

      &_active {
        color: var(--border-blue-color);
      }

      &:first-child {
        margin-left: sizeWidth(10);
        margin-right: auto;
      }

      &:disabled {
        color: var(--text-subscript-color);
      }
    }
  }
}
