<div class="container">
  <div class="header">
    <span class="info">Подтвердите выполнение</span>
  </div>
  <div class="content">
    <div class="info-block">
      <span class="info-block-header">
        Выгружены пустые тары ({{
          taresCount$ | async
        }})
      </span>
      <div
        class="info-block-item"
        *ngFor="let tare of (tabsService.currentTask$ | async)?.tares"
      >
        <ion-checkbox checked></ion-checkbox>
        <span class="light-text">{{ tare?.name }}</span>
        <span class="gray-text">{{ tare?.count }} шт</span>
      </div>
    </div>
    <div class="info-block">
      <span class="info-block-header">
        Загружены пробы ({{
        probesCount$ | async
        }})
      </span>
      <div
        class="info-block-item"
        *ngFor="let probe of (tabsService.currentTask$ | async)?.probes"
      >
        <ion-checkbox checked></ion-checkbox>
        <span class="light-text">{{ probe?.name }}</span>
        <span class="gray-text">{{ probe?.count }} шт</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="btn" (click)="close()">отменить</button>
    <button class="btn btn_active" (click)="presentNfcTimerModal()">
      подтвердить
    </button>
  </div>
</div>
