@import "src/theme/functions";
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: var(--bg-body-color);

  .page-wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
  }

  .footer {
    width: 100%;
    height: 8vh;

    display: flex;
    background: var(--bg-header-color);

    .tab-icon {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: var(--text-subscript-color);
      font-size: sizeHeight(24);
      border-bottom: sizeHeight(6) solid transparent;

      position: relative;
      overflow: hidden;

      &_active {
        color: var(--border-blue-color);
        border-color: var(--border-blue-color);
      }

      svg-icon, span {
        pointer-events: none;
      }
    }
  }

  ::ng-deep {
    .ripple {
      height: 0;
      width: 0;

      background: var(--border-blue-color);
      border-radius: 50%;
      opacity: 0.1;

      position: absolute;

      transform: translate(-50%, -50%);
      transition: 1s;

      pointer-events: none;

      &_active {
        animation: 300ms ripple linear;
      }
    }
  }

  @keyframes ripple {
    0% {
      height: 0;
      width: 0;
    }
    100% {
      height: 66vw;
      width: 66vw;
    }
  }
}

