<div class="container">
  <div
    class="cancel"
    (click)="dismiss()"
  >
    <svg-icon
      src="assets/Icons/tabs/cancel.svg"
      [svgStyle]="{
        'width.vh': 2.2,
        'height.vh': 2.2
      }"
    ></svg-icon>
  </div>
  <div class="content">
    <span class="info-extra">Задание №115625 ещё не готово, направляйтесь на следующее задание</span>
    <span class="info-main">Установка АТ-7, задание №115626</span>
  </div>
  <div
    class="btn"
    (click)="dismiss()"
  >
    <svg-icon
      src="assets/Icons/map-modal/ok.svg"
      [svgStyle]="{
        'width.vh': 3.9,
        'height.vh': 3.9
      }"
    ></svg-icon>
    Выполнить задание
  </div>
</div>


