@import "src/theme/functions.scss";

@mixin ripple-animation($color) {
  0% {
    box-shadow: 0 0 0 10vw rgba($color, 0.8),
    0 0 0 20vw rgba($color, 0.6),
    0 0 0 30vw rgba($color, 0.4),
    0 0 0 40vw rgba($color, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20vw rgba($color, 0.7),
    0 0 0 30vw rgba($color, 0.5),
    0 0 0 40vw rgba($color, 0.3),
    0 0 0 50vw rgba($color, 0);
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #12151E;
  align-items: center;

  .timer-container {
    position: absolute;
    bottom: sizeHeight(409.72);
    z-index: 1;

    .timer-background-circle {
      fill: #1C1F2B;
      stroke: #12151E;
    }

    .timer-success-circle {
      fill: #1C1F2B;
      stroke: #00A73D;
    }
  }

  .timer-run-ripple {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    position: absolute;
    bottom: calc(32.65vh + 10.25vw);
    animation: ripple-run 0.85s linear infinite;
    @keyframes ripple-run {
      @include ripple-animation(#14304F);
    }
  }

  .timer-ripple {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    bottom: calc(32.65vh + 10.25vw);
    animation: ripple-run 0.85s ease-in-out infinite;
    @keyframes ripple-run {
      @include ripple-animation(#14304F);
    }

    &__success {
      animation: ripple-success 0.85s ease-in-out infinite;
      @keyframes ripple-success {
        @include ripple-animation(#00A73D);
      }
    }
  }

  .timer {
    position: absolute;
    height: 50.5vw;
    width: 50.5vw;
    bottom: sizeHeight(418);
    border-radius: 25.25vw;
    z-index: 1;

    &__circle {
      transform-origin: center;
      transform: rotate(-90deg);
      stroke-dasharray: 314.15% 314.15%;
      stroke-dashoffset: 314.15%;
      animation: finish 37000ms linear;

      @keyframes finish {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  .timer-info-block {
    position: absolute;
    bottom: sizeHeight(409.72);
    height: 50.5vw;
    width: 50.5vw;
    text-align: center;
    padding-top: sizeHeight(81);
    padding-right: sizeWidth(60);
    padding-left: sizeWidth(60);
    z-index: 15;

    .help-text {
      color: #0089FF;
      font-size: sizeHeight(24);
      line-height: sizeHeight(29);
    }

    .timer-value-text {
      color: white;
      font-size: sizeHeight(100);
    }
  }
}


