<div class="container">
  <app-header>
    <div class="header">
      <div
        class="tab-btn"
        [class.tab-btn_active]="i === (tabsService.currentTab$ | async)"
        *ngFor="let tab of (tabs$ | async); let i = index"
        (click)="changeTab(i)"
      >
        {{tab}}
      </div>
      <div
        class="header__active"
        [style.transform]="'translateX(' + (0.9 * transformPage) / 2 + 'vw)'"
        [style.transition.s]="swipeTransition"
      ></div>
    </div>
  </app-header>
  <div class="shadow shadow_top"></div>

  <div class="content" #content>
    <div
      class="tab"
      [style.transform]="'translateX(' + -transformPage + 'vw)'"
      [style.transition.s]="swipeTransition"
    >
      <div class="tab__item">
        <span
          *ngIf="!!(tabsService.selectedItems$ | async).length"
          class="extra-info"
          >Для завершения задания выгрузите пробы в ЕЛК и поднесите телефон к
          NFC метке</span
        >

        <div
          class="no-task-msg"
          *ngIf="!(tabsService.selectedItems$ | async).length"
        >
          <span class="msg">Нет задач в машине</span>
        </div>
        <div
          class="item"
          *ngFor="let selected of (tabsService.selectedItems$ | async)"
        >
          <svg-icon
            class="bottle-icon"
            src="assets/Icons/tabs/ready-tab/bottle.svg"
            [svgStyle]="{
              'height': '11.7vh',
              'width': '11.7vh'
            }"
          ></svg-icon>
          <div class="description">
            <span class="title">{{selected?.number}}</span>
            <span class="manufacture"
              >Установка:
              <span class="manufacture__name"
                >{{selected?.plantName}}</span
              ></span
            >
            <span class="manufacture"
              >Количество проб:
              <span class="manufacture__name"
                >{{selected?.probes.length}}</span
              ></span
            >
          </div>
        </div>

        <div class="nfc-btn">
          <app-button (click)="toNfc()" class="btn">Отсканировать NFC-метку</app-button>
        </div>
      </div>

      <div class="tab__item">
        <div
          class="no-task-msg"
          *ngIf="!(tabsService.deliveredItems$ | async).length"
        >
          <span class="msg">Нет завершенных задач</span>
        </div>
        <div
          class="item"
          *ngFor="let delivered of (tabsService.deliveredItems$ | async)"
        >
          <svg-icon
            class="bottle-icon bottle-icon_delivered"
            src="assets/Icons/tabs/ready-tab/bottle.svg"
            [svgStyle]="{
              'height': '11.7vh',
              'width': '11.7vh'
            }"
          ></svg-icon>
          <div class="description">
            <span class="title">{{delivered?.number}}</span>
            <span class="manufacture"
              >Установка:
              <span class="manufacture__name"
                >{{delivered?.plantName}}</span
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
