<div class="container">
  <app-header>
    <div class="header">
      <div
        class="tab-btn"
        [class.tab-btn_active]="i === (tabsService.currentTab$ | async)"
        *ngFor="let tab of (tabs$ | async); let i = index"
        (click)="changeTab(i)"
      >
        {{tab}}
      </div>
      <div
        class="header__active"
        [style.transform]="'translateX(' + (0.9 * transformPage) / 2 + 'vw)'"
        [style.transition.s]="swipeTransition"
      ></div>
    </div>
  </app-header>
  <div class="shadow shadow_top"></div>

  <div class="content" #content>
    <div
      class="tab"
      [style.transform]="'translateX(' + -transformPage + 'vw)'"
      [style.transition.s]="swipeTransition"
    >
      <div class="tab__item">
        <span
          *ngIf="!!(tabsService.selectedItems$ | async).length"
          class="extra-info"
          >Для завершения задания выгрузите пробы в ЕЛК и поднесите телефон к
          NFC метке</span
        >

        <div
          class="no-task-msg"
          *ngIf="!(tabsService.selectedItems$ | async).length"
        >
          <span class="msg">Нет задач в машине</span>
        </div>
        <app-tabs-ready-item
          *ngFor="let selected of (tabsService.selectedItems$ | async)"
          [data]="selected"
          type="taken"
        ></app-tabs-ready-item>

        <div class="nfc-btn">
          <app-button (click)="toNfc()" class="btn"
            >Отсканировать NFC-метку</app-button
          >
        </div>
      </div>

      <div class="tab__item">
        <div
          class="no-task-msg"
          *ngIf="!(tabsService.finalizesItems$ | async).length"
        >
          <span class="msg">Нет завершенных задач</span>
        </div>
        <app-tabs-ready-item
          *ngFor="let delivered of (tabsService.finalizesItems$ | async)"
          [data]="delivered"
          type="ended"
        ></app-tabs-ready-item>
      </div>
    </div>
  </div>
</div>
