@import "src/theme/functions";
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;

  .tab-btn {
    height: 100%;
    width: sizeWidth(310);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: sizeHeight(24);
    letter-spacing: sizeWidth(1.5);
    text-transform: uppercase;
    color: #8C99B2;

    border-bottom: sizeHeight(6) solid transparent;

    &_active {
      border-color: #0089FF;
      color: #0089FF;
    }
  }

  .content {
    height: 83vh;
    padding-bottom: sizeHeight(10);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;

    .tab {
      width: sizeWidth(660);
      margin-top: sizeHeight(15);
      gap: sizeHeight(20);

      display: flex;
      flex-direction: column;

      position: relative;

      .extra-info {
        font-size: sizeHeight(30);
        color: #606580;
      }

      .item {
        height: sizeHeight(210);
        width: sizeWidth(660);
        padding: 0 sizeWidth(24);

        display: flex;
        align-items: center;

        background: #272A38;
        border-radius: sizeHeight(8);

        .bottle-icon {
          margin-right: sizeWidth(25);
          color: #0089FF;

          &_delivered {
            color: #00A73D;
          }
        }

        .description {
          height: sizeHeight(150);
          flex: 1;

          display: flex;
          flex-direction: column;
          gap: sizeHeight(20);

          .title {
            font-size: sizeHeight(34);
            color: #8C99B2;
          }

          .manufacture {
            font-size: sizeHeight(24);
            color: #606580;

            &__name {
              color: #FFFFFF;
            }
          }
        }
      }

      .circle-btn {
        height: sizeHeight(114);
        width: sizeHeight(114);

        display: flex;
        align-items: center;
        justify-content: center;

        background: #0089FF;
        border-radius: 50%;

        font-size: sizeHeight(40);
        color: #FFFFFF;

        position: fixed;
        right: sizeHeight(30);
        bottom: sizeHeight(20);
      }
    }
  }
}
