@mixin dark-style() {
  /*Фон*/
  --bg-dashboard-color: #12151E; /*Дэшборды и Формы*/
  --bg-body-color: #1c1f2b; /*Тело виджета*/
  --bg-header-color: #272A38; /*Хедер виджета*/
  --bg-buttons-color: #303549; /*Кнопки*/
  --bg-dropdown-item: rgba(39, 42, 56, 0.5); /*Выпадающие меню*/
  --indicators-bg: #303549;
  --header-logo-bg: #ffffff;
  /*Основной цвет*/
  --gray-G12-color: #12151E;
  --gray-G12-50-color: rgba(18, 21, 30, 0.5);
  --gray-G11-color: #1C1F2B;
  --gray-G10-color: #272A38;
  --gray-G10-50-color: rgba(39, 42, 56, 0.5);
  --gray-G9-color: #303549;
  --gray-G9-50-color: rgba(48, 53, 73, 0.5);
  --gray-G8-color: #4B5169;
  --gray-G7-color: #606580;
  --gray-G7-50-color: rgba(96, 101, 128, 0.5);
  --gray-G6-color: #8C99B2;
  --gray-G5-color: #C4D3E9;
  --gray-G4-color: #D7E2F2;
  --gray-G3-color: #EBF1F9;
  --gray-G2-color: #F5F8FD;
  --gray-G1-color: #FFFFFF;
  --gray-slyder: #FFFFFF;
  /*Текст*/
  --text-accent-color: #FFFFFF; /*Акцентный текст*/
  --text-contrast-color: #D7E2F2; /*Контрастный текст*/
  --text-main-color: #8C99B2; /*Основной и подписи на осях*/
  --text-subscript-color: #606580; /*Подписи и Будущие показатели и Подписи осей*/
  --text-alwaysWhite-color: #FFFFFF; /*Белый текст на цветной>*/
  /*Границы*/
  --border-vidget-color: #272A38; /*Обводка виджета  и Разделители*/
  --border-forms-color: #4B5169; /*Обводка формы*/
  --border-icon-color: #606580; /*Иконки*/
  --border-blue-color: #0089FF; /*Синяя обводка*/
  /*Индексы*/
  --index-fact-color: #FFFFFF; /*Факт*/
  --index-plan-color: #0089FF; /*План 1*/
  --index-error-color: #F7931E; /*Отклонения*/
  --index-critical-color: #FF1D25; /*Критические отклонения*/
  --index-green1-color: #00A73D; /*Зеленый*/
  --index-prediction-color: #A2E2FF; /*План 2*/
  --index-blue1-color: #0F62FE; /*Синий*/
  /*Графики*/
  --chart-axes-color: #606580; /*Оси*/
  --chart-segment-color: rgba(96, 101, 128, 0.25); /*- Cегменты и Будующий период*/
  --chart-background-color: rgba(18, 21, 30, 0.5); /*- Бэкграунд графика'>*/
  --chart-attantionZone-color: rgba(96, 101, 128, 0.1); /*-Зоны внимания*/
  /*Прозрачность*/
  --opacity-plan-20-color: rgba(0, 137, 255, 0.2); /*20% прозрачность плана*/
  --opacity-fact-20-color: rgba(255, 255, 255, 0.2); /*20% прозрачность факта*/
  --opacity-orange-20-color: rgba(247, 147, 30, 0.2); /*20% прозрачность отклонения*/
  --opacity-red-20-color: rgba(255, 29, 37, 0.2); /*20% прозрачность критического отклонения*/
  --opacity-green-20-color: rgba(0, 167, 61, 0.2); /*20% прозрачность зеленого*/
  --opacity-plan-10-color: rgba(0, 137, 255, 0.1); /*10% прозрачность плана*/
  --opacity-plan2-20-color: rgba(162, 226, 255, 0.2); /*20% прозрачность плана 2*/
  --opacity-aps-20-color: rgba(91, 96, 125, 0.2); /*Апс структура*/
  --filter-shadow: rgba(0, 137, 255, 0.5);
  --datepicker-selected: rgba(63, 169, 245, 0.25);

  /*Визуализация*/
  --data-c1-color: #D4BBFF;
  --data-c2-color: #9362D0;
  --data-c3-color: #8090F0;
  --data-c4-color: #78A9FF;
  --data-c5-color: #45C5FA;
  --data-c6-color: #6FDC8C;
  --data-c7-color: #08BDBA;
  --data-c8-color: #007D79;
  --data-c9-color: #FF7D96;
  --data-c10-color: #FDD13A;
  --data-c11-color: #8C99B2;
  /*Для градиентов*/
  /*Тень*/
  --gradient-main-color-1: rgba(0, 0, 0, 0.25);
  --gradient-main-color-2: rgba(25, 28, 44, 0);
}
