@mixin light-style() {
  /*Фон*/
  --bg-dashboard-color: #F5F8FD; /*Дэшборды и Формы*/
  --bg-body-color: #FFFFFF; /*Тело виджета*/
  --bg-map-color: #AAAAAA;
  --bg-header-color: #FFFFFF; /*Хедер виджета*/
  --bg-buttons-color: #D7E2F2; /*Кнопки*/
  --bg-modal-color: #FFFFFF; /*Модальный окна*/
  --bg-dropdown-item: rgba(235, 241, 249, 0.5); /*Выпадающие меню*/
  --indicators-bg: #EBF1F9;
  --header-logo-bg: #0089FF;
  /*Основной цвет*/
  --gray-G12-color: #FFFFFF;
  --gray-G12-50-color: rgba(255,255,255,0.5);
  --gray-G11-color: #F5F8FD;
  --gray-G10-color: #EBF1F9;
  --gray-G10-50-color: rgba(235,241,249,0.5);
  --gray-G9-color: #D7E2F2;
  --gray-G9-50-color: rgba(215,226,242,0.5);
  --gray-G8-color: #C4D3E9;
  --gray-G7-color: #8C99B2;
  --gray-G7-50-color: rgba(140,153,178,0.5);
  --gray-G6-color: #606580;
  --gray-G5-color: #4B5169;
  --gray-G4-color: #303549;
  --gray-G3-color: #272A38;
  --gray-G2-color: #1C1F2B;
  --gray-G1-color: #12151E;
  --gray-slyder: #8C99B2;
  /*Текст*/
  --text-accent-color: #12151E; /*Акцентный текст*/
  --text-contrast-color: #303549; /*Контрастный текст*/
  --text-main-color: #606580; /*Основной и подписи на осях*/
  --text-subscript-color: #8C99B2; /*Подписи и Будущие показатели и Подписи осей*/
  --text-alwaysWhite-color: #FFFFFF; /*Белый текст на цветной>*/
  /*Границы*/
  --border-vidget-color: #D7E2F2; /*Обводка виджета  и Разделители*/
  --border-forms-color: #C4D3E9; /*Обводка формы*/
  --border-icon-color: #8C99B2; /*Иконки*/
  --border-blue-color: #0089FF; /*Синяя обводка*/
  /*Индексы*/
  --index-fact-color: #8C99B2; /*Факт*/
  --index-plan-color: #0089FF; /*План 1*/
  --index-error-color: #F7931E; /*Отклонения*/
  --index-critical-color: #FF1D25; /*Критические отклонения*/
  --index-green1-color: #00A73D; /*Зеленый*/
  --index-prediction-color: #A2E2FF; /*План 2*/
  --index-blue1-color: #0F62FE; /*Синий*/
  /*Графики*/
  --chart-axes-color: #D7E2F2; /*Оси*/
  --chart-segment-color: rgba(215,226,242,0.75); /*- Cегменты и Будующий период*/
  --chart-background-color: rgba(245, 248, 253, 0.5); /*- Бэкграунд графика'>*/
  --chart-attantionZone-color: rgba(140, 153, 178, 0.1); /*-Зоны внимания*/
  /*Прозрачность*/
  --opacity-plan-20-color: rgba(0, 137, 255, 0.2); /*20% прозрачность плана*/
  --opacity-fact-20-color: rgba(140, 153, 178, 0.2); /*20% прозрачность факта*/
  --opacity-orange-20-color: rgba(247, 147, 30, 0.2); /*20% прозрачность отклонения*/
  --opacity-red-20-color: rgba(255, 29, 37, 0.2); /*20% прозрачность критического отклонения*/
  --opacity-green-20-color: rgba(0, 167, 61, 0.2); /*20% прозрачность зеленого*/
  --opacity-plan-10-color: rgba(0, 137, 255, 0.1); /*10% прозрачность плана*/
  --opacity-plan2-20-color: rgba(162, 226, 255, 0.2); /*20% прозрачность плана 2*/
  --opacity-aps-20-color: rgba(140, 153, 178, 0.2); /*Апс структура*/
  --filter-shadow: rgba(0, 137, 255, 0.5);
  --datepicker-selected: rgba(63, 169, 245, 0.25);

  /*карта*/
  --map-river-color: #83899F;
  --map-bg-sub-color: #CBCBCB;

  /*Визуализация*/
  --data-c1-color: #A56EFF;
  --data-c2-color: #673AB7;
  --data-c3-color: #4A53C6;
  --data-c4-color: #4589FF;
  --data-c5-color: #039DE0;
  --data-c6-color: #118F3F;
  --data-c7-color: #0BA4A4;
  --data-c8-color: #005D5D;
  --data-c9-color: #D12771;
  --data-c10-color: #FDD13A;
  --data-c11-color: #606580;
  /*Для градиентов*/
  /*Тень*/
  --gradient-main-color-1: rgba(0,0,0,0.08);
  --gradient-main-color-2: rgba(25,28,44,0);

  --modal-shadow-color-1: rgba(0, 0, 0, 0.12);
  --modal-shadow-color-2: rgba(0, 0, 0, 0.14);
  --modal-shadow-color-3: rgba(0, 0, 0, 0.2);
}
