<div #screen class="container">
  <app-header class="header">
    <div class="arrow" (click)="redirectToTab()">
      <svg-icon
        src="/assets/Icons/tabs/arrowLeft.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
    <div class="title">{{(tabsService.currentTask$ | async)?.number}}</div>
  </app-header>
  <div [style]="transformStyle" class="box">
    <div [style]="rotationStyle" class="entry-box">
      <div [style]="scaleStyle" class="entry-box">
        <div class="entry-box entry-box__map" [style]="mapStyle">
          <img src="assets/Icons/map/map{{(theme.isDarkTheme | async) ? '-dark' : '-light'}}.svg"/>
          <div #svg class="svg"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="progress">
    <app-map-progress
      [percent]="currentTime / allTime * 100"
      [name]="((tabsService?.currentTask$ | async) || [null])[0]?.plantName"
    ></app-map-progress>
  </div>

  <div
    class="circle-btn"
    (click)="redirectToTab()"
  >
    <svg-icon
      [svgStyle]="{
        'height': '3.9vh',
        'width': '3.9vh'
      }"
      src="assets/Icons/map/menuBurger.svg"
    ></svg-icon>
  </div>

  <div
    class="circle-btn geo"
    (click)="goToPosition()"
  >
    <svg-icon
      [svgStyle]="{
        'height': '6.3vh',
        'width': '6.3vh'
      }"
      src="assets/Icons/map/geo.svg"
    ></svg-icon>
  </div>
</div>
