<div #screen class="container">
  <app-header class="header">
    <div class="arrow" (click)="redirectToTab()">
      <svg-icon
        src="/assets/Icons/tabs/arrowLeft.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
    <div class="title">{{(tabsService.currentTask$ | async)?.number}}</div>
  </app-header>
  <app-map-view [setScreenRef]="screenRef" [setPosition]="cameraPosition$ | async" (onGesture)="toggleTrack(false)">
    <div #svg class="svg"></div>
  </app-map-view>
<!--    <div class="progress">-->
<!--      <app-map-debug></app-map-debug>-->
<!--    </div>-->
  <div class="progress">
    <app-map-progress
      [time]="displayTime$ | async"
      [percent]="displayPercent$ | async"
      [name]="((tabsService?.currentTask$ | async) || [null])[0]?.plantName"
      [msg]="(tabsService?.currentTask$ | async)?.comment"
    ></app-map-progress>
  </div>

  <div
    class="circle-btn"
    [class.circle-btn_disabled]="(tabsService.currentTask$ | async)?.id === null"
    (click)="redirectToNFC()"
  >
    <svg-icon
      [svgStyle]="{
        'height': '3.9vh',
        'width': '3.9vh'
      }"
      src="assets/Icons/map/tablet_out.svg"
    ></svg-icon>
  </div>

  <div
    class="circle-btn geo"
    (click)="toggleTrack(true)"
  >
    <svg-icon
      [svgStyle]="{
        'height': '6.3vh',
        'width': '6.3vh'
      }"
      src="assets/Icons/map/geo.svg"
    ></svg-icon>
  </div>
</div>
