@import "src/theme/functions";
* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  padding: sizeHeight(50) sizeWidth(50);

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--bg-body-color);

  position: relative;

  .info {
    font-size: sizeHeight(32);
    color: var(--text-contrast-color);
  }

  button {
    outline: none;
    border: none;
    background: transparent;
  }

  .btn {
    height: sizeHeight(74);
    width: 100%;
    margin-top: auto;
    padding: 0 sizeWidth(10);

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--border-blue-color);
    border-radius: sizeHeight(8);

    font-size: sizeHeight(30);
    color: var(--text-alwaysWhite-color);
    text-align: center;

    svg-icon {
      display: flex;
      margin-right: sizeWidth(25);
    }
  }

  .cancel {
    height: 2.2vh;
    width: 2.2vh;

    color: var(--border-icon-color);

    position: absolute;
    right: sizeHeight(30);
    top: sizeHeight(30);
  }
}
