<div class="container">
  <ng-container *ngIf="type === 'endOne'">
    <span class="info">Вы на месте</span>
    <span class="info">Установка {{(tabsService.currentTask$ | async)?.manufacture}}</span>
  </ng-container>
  <ng-container *ngIf="type === 'new'">
    <span class="info">Новое задание по пути</span>
  </ng-container>
  <ng-container *ngIf="type === 'endAll'">
    <span class="info">Вы на месте</span>
    <span class="info">ЕЛК</span>
  </ng-container>
  <div
    class="btn"
    (click)="accept()"
  >
    <svg-icon
      src="assets/Icons/map-modal/ok.svg"
      [svgStyle]="{
        'width.vh': 3.9,
        'height.vh': 3.9
      }"
    ></svg-icon>
    {{type === 'endAll' ? 'Завершить все задания' : 'Выполнить задание'}}
  </div>

  <div
    class="cancel"
    (click)="dismiss()"
  >
    <svg-icon
      src="assets/Icons/tabs/cancel.svg"
      [svgStyle]="{
        'width.vh': 2.2,
        'height.vh': 2.2
      }"
    ></svg-icon>
  </div>
</div>
