<div class="container">
  <div class="header">
    <ng-container *ngIf="type === 'endOne'">
      <span class="info">Вы на месте</span>
      <span class="info">
        Установка {{ (tabsService.currentTask$ | async)?.plantName }}
      </span>
    </ng-container>
    <ng-container *ngIf="type === 'new'">
      <span class="info">Новое задание по пути</span>
    </ng-container>
    <ng-container *ngIf="type === 'endAll'">
      <span class="info">Вы на месте, ЕЛК</span>
    </ng-container>
  </div>
  <div class="buttons">
    <button class="btn btn_active" (click)="accept()">
      {{ type === "endAll" ? "Завершить всё" : "Выполнить" }}
    </button>
  </div>
</div>
