<div class="container">
  <div class="header">
    <span class="info">Подтвердите выполнение</span>
  </div>
  <div class="content">
    <div class="statistic-item">
      <span class="title">1. Пройдено, <span class="unit"> км</span></span>
      <span class="value">239</span>
    </div>

    <div class="statistic-item">
      <span class="title">2. Пробы, <span class="unit"> шт</span></span>
      <span class="value">{{
        (userInfo.endStatistic$ | async)?.numberOfProbes
        }}</span>
    </div>

    <div class="statistic-item">
      <span class="title">3. Установки, <span class="unit"> км</span></span>
      <span class="value">{{
        (userInfo.endStatistic$ | async)?.numberOfProdObjects
        }}</span>
    </div>

    <div class="statistic-item">
      <span class="title"
      >4. Время на линии, <span class="unit"> часы</span></span
      >
      <span class="value">{{
        (userInfo.endStatistic$ | async)?.duration
        }}</span>
    </div>
  </div>
  <div class="buttons">
    <button class="btn" (click)="close()">отменить</button>
    <button class="btn btn_active" (click)="close()">
      подтвердить
    </button>
  </div>
</div>

