<div class="item" [class.item_active]="isActive">
  <div class="chart">
    <app-tabs-tasks-timer [data]="data"></app-tabs-tasks-timer>
  </div>
  <div class="description">
    <span class="title"
      >{{ data?.number }},<span class="manufacture"
        >Уст: {{ data?.plantName }}</span
      ></span
    >
    <div class="description__item">
      <div class="icon">
        <svg-icon
          [svgStyle]="{
            height: '2.5vh',
            width: '2.5vh'
          }"
          src="assets/Icons/tabs/tasks-tab/tare.svg"
        ></svg-icon>
      </div>
      <span class="info">Доставить тару – {{ taresCount }} шт</span>
    </div>
    <div class="description__item">
      <div class="icon" [class.icon_active]="false">
        <svg-icon
          [svgStyle]="{
            height: '2.5vh',
            width: '2.5vh'
          }"
          src="assets/Icons/tabs/tasks-tab/test.svg"
        ></svg-icon>
      </div>
      <span class="info">Получить пробы – {{ probesCount }} шт</span>
    </div>
  </div>
</div>
