@import "src/theme/functions";
* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  padding: sizeHeight(50) sizeWidth(50);

  display: flex;
  flex-direction: column;

  background: var(--bg-body-color);

  position: relative;

  .message {
    color: var(--text-contrast-color);
    font-size: sizeHeight(40);
  }

  button {
    color: var(--border-blue-color);
    font-size: sizeHeight(30);

    outline: none;
    border: none;
    background: transparent;

    position: absolute;
    right: sizeWidth(50);
    bottom: sizeHeight(50);
  }
}
