<div class="container">
  <span class="user">
    {{
      userInfo.currentUser.lastName +
        " " +
        userInfo.currentUser.firstName +
        " " +
        userInfo.currentUser.patronymic
    }}
  </span>
  <div class="status" [class.status_active]="isOpened" (click)="openDropdown()">
    <svg-icon
      [svgStyle]="{
        height: '3.9vh',
        width: '3.9vh'
      }"
      src="assets/Icons/avatar-modal/avatar.svg"
    ></svg-icon>
    <span class="name">Статус</span>
    <div class="dropdown">
      <app-status-dropdown
        [options]="userInfo.statusList$ | async | statusFilter: (forbiddenStatus$ | async)"
        [currentOptionId]="userInfo.statusId$ | async"
        [disabled]="disableStatusBtn$ | async"
        (onChanged)="changeStatus($event)"
      ></app-status-dropdown>
    </div>
  </div>
  <div class="car">
    <svg-icon
      [svgStyle]="{
        height: '3.9vh',
        width: '3.9vh'
      }"
      src="assets/Icons/avatar-modal/truck.svg"
    ></svg-icon>
    <span class="name">Автомобиль</span>
    <span class="number">{{ (userInfo.car$ | async)?.regNum }}</span>
  </div>

  <app-button
    class="btn btn__change-car"
    [isActive]="false"
    (click)="changeCar()"
  >
    Сменить автомобиль
  </app-button>

  <app-button
    class="btn btn__change-user"
    [isActive]="false"
    (click)="changeUser()"
  >
    Сменить пользователя
  </app-button>
</div>
