<div class="container">
    <span class="user">
      {{userInfo.currentUser.lastName + ' ' + userInfo.currentUser.firstName + ' ' + userInfo.currentUser.patronymic}}
    </span>
  <div class="status" [class.status_active]="isOpened" (click)="openDropdown()">
    <svg-icon
      [svgStyle]="{
        'height': '3.9vh',
        'width': '3.9vh'
      }"
      src="assets/Icons/avatar-modal/avatar.svg"
    ></svg-icon>
    <span class="name">Статус</span>
    <div class="dropdown">
      <app-dropdown
        [isStatusDropdown]="true"
      ></app-dropdown>
    </div>
  </div>
  <div class="car">
    <svg-icon
      [svgStyle]="{
        'height': '3.9vh',
        'width': '3.9vh'
      }"
      src="assets/Icons/avatar-modal/truck.svg"
    ></svg-icon>
    <span class="name">Автомобиль</span>
    <span class="number">{{userInfo.carNumber$ | async}}</span>
  </div>

  <button class="btn btn__change-car" (click)="changeCar()">Сменить автомобиль</button>
  <button class="btn btn__change-user" (click)="changeUser()">Сменить пользователя</button>
</div>
