@import "src/theme/functions";
* {
  box-sizing: border-box;
}

.container {
  height: sizeHeight(150);
  width: sizeWidth(640);
  padding: sizeHeight(25) sizeHeight(35) sizeHeight(15);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--bg-header-color);
  box-shadow: 0px sizeHeight(4) sizeHeight(8) var(--gradient-main-color-1);
  border-radius: sizeHeight(8);

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      margin-right: sizeWidth(5);
      font-size: sizeHeight(40);
      color: var(--text-main-color);
      white-space: nowrap;
    }

    &__time {
      font-size: sizeHeight(29);
      color: var(--text-contrast-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .diagram {
    height: sizeHeight(16);
    margin-top: auto;

    background: var(--gray-G8-color);
    border-radius: sizeHeight(8);

    &__inner {
      height: 100%;

      display: flex;
      align-items: center;

      background: var(--border-blue-color);
      border-radius: sizeHeight(8);

      transition: 400ms;
      position: relative;

      svg-icon {
        position: absolute;
        right: -1.9vh;
      }
    }
  }

  .msg {
    margin-top: sizeHeight(10);
    width: sizeWidth(560);
    font-size: sizeHeight(29);
    color: var(--text-subscript-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
