<div class="container">
  <div class="info">
    <div class="info__title">{{(tabsService.currentTask$ | async)?.plantName}}</div>
    <div class="info__time">ост. ехать {{(15 - percent / 100 * 15) | number:'0.0-0'}} секунд</div>
  </div>

  <div class="diagram">
    <div
      class="diagram__inner"
      [style.width.%]="percent"
    >
      <svg-icon
        src="assets/Icons/map/mapMarker.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
  </div>
</div>
