<div class="container">
  <div class="info">
    <div class="info__title">{{(tabsService.currentTask$ | async)?.plantName}}</div>
    <div class="info__time">{{ time | progressTime }}</div>
  </div>

  <div class="diagram">
    <div
      class="diagram__inner"
      [style.width.%]="percent"
    >
      <svg-icon
        src="assets/Icons/map/mapMarker.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
  </div>

  <span class="msg" (click)="presentModal()">{{msg}}</span>
</div>
