/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/mixins.scss";
@import "theme/functions.scss";
@import "theme/theme.scss";

ion-content {
  --background: transparent !important;
}

ion-backdrop {
  background-color: var(--bg-dashboard-color);
}

html,
.ion-app,
.ion-content {
  background: transparent !important;
}

body {
  background: var(--bg-body-color);;
}

// scroll hide
::-webkit-scrollbar {
  width: 0;
}

.car-modal {
  .modal-wrapper {
    height: 100%;
    width: 100%;
  }
}

.custom-modal {
  margin: auto;
  padding: sizeHeight(100) 0;

  .modal-wrapper {
    box-shadow: 0 sizeHeight(48) sizeWidth(76) var(--modal-shadow-color-2),
      0 sizeHeight(18) sizeWidth(92) var(--modal-shadow-color-1),
      0 sizeHeight(22) sizeWidth(30) var(--modal-shadow-color-3);
    border-radius: sizeHeight(8);
    background: transparent;

    overflow: hidden;
  }
}

.choose-status {
  .modal-wrapper {
    height: sizeHeight(460);
    width: sizeWidth(560);
  }
}

.current-status {
  .modal-wrapper {
    overflow: visible;
  }
}

.resolve-modal {
  .modal-wrapper {
    height: sizeHeight(260);
    width: sizeWidth(560);
  }
}

.nfc-verify-modal {
  .modal-wrapper {
    height: sizeHeight(890);
    width: sizeWidth(560);
  }
}

.avatar-modal {
  .modal-wrapper {
    height: 100vh;
    width: 100vw;
  }
}

.select-popover {
  .popover-content.sc-ion-popover-md {
    width: sizeWidth(640);
    background-color: var(--bg-dashboard-color);
  }

  ion-backdrop {
    --backdrop-opacity: 0;
  }
}

.select-list {
  list-style: none;
  width: 100%;
  font-size: sizeHeight(34);

  &__item {
    position: relative;
    padding: sizeWidth(25) sizeWidth(35) sizeWidth(25) sizeWidth(95);
    color: var(--text-contrast-color);

    &_selected {
      background-color: var(--bg-body-color);
    }
  }
}
