@import "src/theme/functions";
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;

  .tab-btn {
    height: 100%;
    width: sizeWidth(310);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: sizeHeight(24);
    letter-spacing: sizeWidth(1.5);
    text-transform: uppercase;
    color: var(--text-main-color);

    border-bottom: sizeHeight(6) solid transparent;

    &_active {
      border-color: var(--border-blue-color);
      color: var(--border-blue-color);
    }
  }

  .content {
    height: 83vh;
    padding-bottom: sizeHeight(10);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;

    .tab {
      width: sizeWidth(660);
      margin-top: sizeHeight(15);

      display: flex;
      flex-direction: column;

      position: relative;

      .circle-btn {
        height: sizeHeight(114);
        width: sizeHeight(114);

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--border-blue-color);
        border-radius: 50%;

        font-size: sizeHeight(40);
        color: var(--text-alwaysWhite-color);

        position: fixed;
        right: sizeHeight(30);
        bottom: sizeHeight(20);
      }
    }
  }
}
