@import "src/theme/functions";
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;

  .title {
    margin-left: sizeWidth(50);
    font-size: sizeHeight(42);
    color: var(--text-contrast-color);
  }

  .content {
    height: 83vh;
    padding-bottom: sizeHeight(10);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;

    .tab {
      width: sizeWidth(660);
      margin-top: sizeHeight(15);

      display: flex;
      flex-direction: column;

      position: relative;

      .circle-btn {
        height: sizeHeight(114);
        width: sizeHeight(114);

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--border-blue-color);
        border-radius: 50%;

        font-size: sizeHeight(40);
        color: var(--text-alwaysWhite-color);

        position: fixed;
        right: sizeHeight(30);
        bottom: sizeHeight(20);
      }

      .no-task-msg {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .msg {
          font-size: sizeHeight(34);
          color: var(--text-subscript-color);
        }
      }
    }
  }
}

.noneDisplay {
  display: none;
}
