<div class="container">
  <app-header>
    <div class="title">Задания</div>
  </app-header>
  <div class="shadow shadow_top"></div>
  <div class="shadow shadow_bottom"></div>
  <div class="content">
    <div class="tab">
      <app-tabs-tasks-card
        *ngFor="let item of (tabsService.sortedItems$ | async); let i = index"
        [data]="item"
        [isActive]="i===0"
        (click)="openMap()"
      ></app-tabs-tasks-card>

      <div class="circle-btn" (click)="openMap()">
        <svg-icon
          [svgStyle]="{
              'height': '4.8vh',
              'width': '4.8vh'
            }"
          src="assets/Icons/tabs/tasks-tab/geo-map.svg"
        ></svg-icon>
      </div>

      <div
        class="no-task-msg"
        *ngIf="!(tabsService.newItems$ | async).length"
      >
        <span class="msg">Нет новых задач</span>
      </div>
    </div>
  </div>
</div>
