<div class="container">
  <app-header>
    <div class="title">Задания</div>
  </app-header>
  <div class="content">
    <div class="tab">
      <app-tabs-tasks-card
        *ngFor="let item of (tabsService.newItems$ | async); let i = index"
        [data]="item"
        [isActive]="true"
        [ngClass]="{
            noneDisplay: item?.specialProps?.includes('elk')
        }"
      ></app-tabs-tasks-card>

      <app-tabs-tasks-card
        *ngFor="let item of (tabsService.inProgressItems$ | async); let i = index"
        [data]="item"
      ></app-tabs-tasks-card>

      <div
        class="circle-btn"
        (click)="openMap()"
      >
        <svg-icon
          [svgStyle]="{
              'height': '4.8vh',
              'width': '4.8vh'
            }"
          src="assets/Icons/tabs/tasks-tab/geo-map.svg"
        ></svg-icon>
      </div>
    </div>
  </div>
</div>
